.app {
  background-color: black;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 50px auto 150px;
  background-color: rgb(58, 1, 1);
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul li {
  margin: 10px;
}

.header-logo {
}

.header-menu {
}

.header-translate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.carousel img {
  width: 100%;
}

.about {
  height: 100%;
}