.app {
  background-color: black;
  color: white;
}

.header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto 150px;
  background-color: rgb(41, 2, 2);
}

.header-menu {
  list-style: none;
  /* text-decoration: none; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu li {
  margin: 10px;
}

.header-menu li a {
  text-decoration: none;
  color: aliceblue;
}

.header-logo {
}

.header-translate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#home img {
  width: 100%;
}

.about {
  height: 100%;
}