.app {
  background-color: black;
  color: white;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  max-width: 100%;
  /* overflow-x: scroll; */
  height: 10vh;
  min-height: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(41, 2, 2);

  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
}

.header-menu {
  height: 10vh;
  min-height: 75px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu li {
  margin: 20px;
}

.menu-item {
  color: aliceblue;
  text-decoration: none;
}

.menu-item-active {
  color: #C8A063;
  font-weight: bold;
  text-decoration: underline;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 10vh;
  min-height: 75px;
}

.header-logo {
  /* padding: 10px; */
  margin-left: 20px;
  height: 9vh;
  min-height: 70px;
  /* min-height: 75px; */
  /* background-color: goldenrod; */
  /* width: 600px; */
  /* height: 50px; */
}

.header-translate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section {
  height: 100vh;
}

.main-logo-wrapper img {
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20vh;
  height: 70vh;
  min-height: 200px;
  max-height: 500px;
  /* width: auto; */
  /* width: 50vw; */
  /* max-width: 500px; */
}

.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  will-change: opacity;
  object-fit: cover;
}

.section-layout {
  display: grid;
  grid-template-columns: 50fr 50fr;
  height: 100vh;
}

.section-content-wrapper {
  height: 100vh;
  padding: 0px 15px 0px 15px;
  /* padding: 10vh 15vw 10vh 15vw; */
  text-align: center;
  background-color: rgb(41, 2, 2);
  background-image: url('images/logo_mark-768w.png');
  background-size: 35rem;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen;

  font-family: 'Libre Baskerville', serif;
  color: aliceblue;
}

.section-extra-wrapper {
  height: 100vh;
}

.menu-link {
  text-decoration: underline;
  color: white;
}

.icon-list {
  display: flex;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;

  /* background-color: rosybrown; */
}

.icon-wrapper img {
  padding: 5px;
  border-radius: 25%;
  height: 30px;
  width: 30px;
  background-color: white;
  filter: invert();
}

.gallery > img {
  position: absolute;
  will-change: transform, width, height, opacity;
}

.gallery-card, .gallery-card-active {
  cursor: pointer;
  border-radius: 5%;
}

.gallery-card-hidden {
  cursor: default;
}

.gallery-card-active {
  z-index: 1;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: #C8A063;
}

@media only screen and (max-width: 700px) {
  .header {
    overflow-x: scroll;
  }

  .section-layout {
    display: flex;
    flex-direction: column;
  }

  .section-content-wrapper {
    padding: 15px;
    background-size: 20rem;
  }

  h1 {
    font-size: 4rem;
  }
}